{% extends 'base.html.twig' %}

{% block content %}
    <h1>Add ingredient</h1>

    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name, {'attr' : { 'class' : 'form-control'} }) }}
                {{ form_errors(form.name) }}
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                {{ form_label(form.price) }}
                {{ form_widget(form.price, {'attr' : { 'class' : 'form-control'} }) }}
                {{ form_errors(form.price) }}
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <input type="submit" value="Create" class="btn btn-success"/>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}
